cfgv==3.5.0
distlib==0.4.3
dotbot==1.24.1
filelock==3.29.4
identify==2.6.19
iniconfig==2.3.0
libtmux==0.58.0
metaprimer @ git+https://github.com/uvsmtid/protoprimer.git@c45a1ec47fee33ba3b431ced7ab2763eb152229c#subdirectory=src/metaprimer
nodeenv==1.10.0
packaging==26.2
pip==26.1.2
platformdirs==4.10.0
pluggy==1.6.0
pre-commit==4.6.0
protoprimer @ git+https://github.com/uvsmtid/protoprimer.git@c45a1ec47fee33ba3b431ced7ab2763eb152229c#subdirectory=src/protoprimer
pygments==2.20.0
pytest==9.1.0
python-discovery==1.4.2
pyyaml==6.0.3
tmuxp==1.70.0
virtualenv==21.5.0
